html, body {
    margin:0px;
    height:100%;
  }

.Banner {
    height: 100px;
    width: 100%;
    position: absolute;
    background-color: lightblue;
    text-align: center;
    font-family: Verdana;
}

.Hotbar {
    height: 55px;
    width: 100%;
    background-color: lightblue;
}

.RightSide {
    list-style: none;
    float: right;
  }

.Link {
    font-family: 'Helvetica Neue';
    font-weight: bold;
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 20px;
    color: black;
  }

.TableContainer {
  margin: 75px;
  background-color: lightblue;
  position: relative;
  overflow: auto;
  white-space: nowrap;
}

.ScoreTable {
  display: inline-block;
}

.ColumnHeader {
  background-color: lightblue;
  text-align: center;
  min-width: 11px;
  position: sticky;
  top: 0;
}

td {
  text-align: center;
  color: whitesmoke;
  font-size: 7px;
}

th {
  font-size: 9px;
}

.RowHeader {
  background-color: lightblue;
  text-align: center;
  height: 11px;
  min-width: 11px;
  min-height: 11px;
  position: sticky;
  left: 0;
}

.PastScorigami {
  background-color: forestgreen;
  font-size: 6px;
}
.PastScorigami:hover {
  background-color: plum;
}

.Scorigami {
  background-color: crimson;
}
.Scorigami:hover {
  background-color: gold;
}

.Blank {
  background-color: lightgray;
}
.Blank:hover {
  background-color: gainsboro;
}

.Impossible {
  background-color: black;
}

.NowImpossible {
  background-color: #434343;
}

.popup {
  display: none;
  position: absolute;
  background-color: gainsboro;
  border: 3px solid black;
  padding-right: 20px;
  padding: 5px;
  z-index: 10;
  width: fit-content;
  text-align: left;
  font-size: 12px;
  color: black
}
